@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Permanent+Marker&family=Prompt:ital,wght@1,400;1,500&display=swap');

//Paleta de colores
$black: black;
$white: white;
$gray: gray;
$bluefacebook: #4267B2;
$redgoogle: #DB4437;
$orangealtapinta: #DDA15E;
$greenaltapinta: #606C38;
$greenwhatsapp: springgreen;

//Fonts
$fontpermant: 'Permanent Marker', cursive; 
$fontprompt:'Prompt', sans-serif;
$fontraleway: 'Raleway', sans-serif;
$weight-bold: bold;
$size-title: 50px;
$size-info: 25px;

//Posiciones
$Ptop: top;
$Pleft: left;
$Pcenter: center;
$Pright: right;
$Pbottom: bottom;

//Tamaños cards
$width-primary: 400px;
$width-secondary: 500px;
$height-primary: 350px;
$height-secondary: 250px;
$img-height: 250px;
$img-width: auto;
$border-Primary: 6px;

//Margins
$margin-10: -10px;
$margin5: 5px;
$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;
$margin50: 50px;
$margin60: 60px;
$margin70: 70px;
$margin80: 80px;
$margin90: 90px;